<nav class="navigation-secondary govuk-!-margin-bottom-6">
    <ul>
      {% if nav  == 'Home' %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
        <a  href="/cru-ops-service/cru-ops-landing.html">Home</a>
        </li>
    
      {% if nav  == 'Tasks' %}
      <li class="./cru-ops-service/active">
        {% else %}
        <li>
          {% endif %}
        <a href="/cru-ops-service/tasks">Tasks</a>
        
      </li>
  
      {% if nav  == 'Find' %}
      <li class="/cru-ops-service/active">
        {% else %}
        <li>
          {% endif %}
        <a href="../cru-ops-service/find-case">Find case</a>
        
      </li>
    </ul>
  </nav>