<h1 class="govuk-heading-l">Injury, illness, or accident</h1>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Injury or injuries</th>
        <td class="govuk-table__cell">Soft tissue injury to their left lower arm</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of injury</th>
        <td class="govuk-table__cell">30 October 2021</td>
      </tr>
  </tbody>
</table>
<a href="" class="govuk-button govuk-button--secondary">Update injury, illness, or accident</a>