
     <div class="timeline">
		  

        <span class="line"></span>
       <div class="timeline__event">
         <h3 class="timeline__heading govuk-heading-s">Claim details sent to NHS</h3>
         <p class="timeline_datetime">12 April 2021</p>
       </div>

       <span class="line"></span>
       <div class="timeline__event">
         <h3 class="timeline__heading govuk-heading-s">Attributable benefits identified </h3>
         <p class="timeline_datetime">12 April 2021</p>
       </div>
       
         <span class="line"></span>
       <div class="timeline__event">
         <h3 class="timeline__heading govuk-heading-s">Case received</h3>
         <p class="timeline_datetime">12 April 2021</p>
       </div>

       <div style="clear:both"></div>

     </div><!-- timeline -->