
{% extends "layout.html" %}

{% block pageTitle %}
About the claim and injuries - Please tell us the date of the accident or alleged clinical negligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="liability-guard" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-xl">Injury, illness, or accident</span>
                  What is the type of injury sustained?
                  </label>
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-injury" name="type-of-injury" type="radio" value="Fracture">
                  <label class="govuk-label govuk-radios__label" for="type-of-injury">
                    Fracture
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-injury-2" name="type-of-injury" type="radio" value="Sprain or strain">
                  <label class="govuk-label govuk-radios__label" for="type-of-injury-2">
                    Sprain or strain
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-injury-3" name="type-of-injury" type="radio" value="Cuts or scarring">
                  <label class="govuk-label govuk-radios__label" for="type-of-injury-3">
                    Cuts or scarring
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-injury-4" name="type-of-injury" type="radio" value="Bruising or abrasions">
                  <label class="govuk-label govuk-radios__label" for="type-of-injury-4">
                    Bruising or abrasions
                  </label>
                </div>
              </div>
          
            </fieldset>
          </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
