
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the claim and injuries - Please tell us the date of the accident or alleged clinical negligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="task-list" method="post">

          <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Injury details</span>
            What was the physical injury?
             </h1>




             {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
             {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

<!-- start Neck-->

{% if checked('where-is-the-injury','Neck') %}
{% from "govuk/components/input/macro.njk" import govukInput %}
     {% set injuryHtml %}
    {{ govukTextarea({
      name: "more-detail-neck",
      id: "more-detail-neck",
      value:data['more-detail-neck'],
      label: {
        text: "Can you provide more detail?"
      }
    }) }}
       {% endset -%}

{{ govukCheckboxes({
 classes: "govuk-checkboxes--small",
 idPrefix: "neck",
 name: "neck",
 fieldset: {
   legend: {
     text: "Select neck injuries",
     isPageHeading: false,
     classes: "govuk-fieldset__legend--m"
   }
 },
 items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("neck", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("neck", "Pain or discomfor")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("neck", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("neck", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("neck", "Burns")
   },
   {
     value: " ",
     text: "Other neck injury",
     checked: checked("neck", " "),


     conditional: {
       html: injuryHtml
     }
   }
 ]
}) }}

{% endif %}

<!-- End Neck-->
<!-- start Back-->
{% if checked('where-is-the-injury','Back') %}
{% from "govuk/components/input/macro.njk" import govukInput %}
     {% set injuryHtml %}
    {{ govukTextarea({
      name: "more-detail-back",
      id: "more-detail-back",
      value:data['more-detail-back'],
      label: {
        text: "Can you provide more detail?"
      }
    }) }}
       {% endset -%}

{{ govukCheckboxes({
 classes: "govuk-checkboxes--small",
 idPrefix: "back",
 name: "back",
 fieldset: {
   legend: {
     text: "Select back injuries",
     isPageHeading: false,
     classes: "govuk-fieldset__legend--m"
   }
 },
 items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("back", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("back", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("back", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("back", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("back", "Burns")
   },
   {
     value: " ",
     text: "Other back injury",
     checked: checked("back", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
}) }}

{% endif %}

 <!-- End Back-->
 <!-- start Shoulder or collarbone-->
 {% if checked('where-is-the-injury','Shoulder or collarbone') %}
 {% from "govuk/components/input/macro.njk" import govukInput %}
      {% set injuryHtml %}
      {{ govukTextarea({
        name: "more-detail-shoulder-collarbone",
        id: "more-detail-shoulder-collarbone",
        value:data['more-detail-shoulder-collarbone'],
        label: {
          text: "Can you provide more detail?"
        }
      }) }}
        {% endset -%}

 {{ govukCheckboxes({
  classes: "govuk-checkboxes--small",
  idPrefix: "shoulder-collarbone",
  name: "shoulder-collarbone",
  fieldset: {
    legend: {
      text: "Select shoulder or collarbone injuries",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("shoulder-collarbone", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("shoulder-collarbone", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("shoulder-collarbone", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("shoulder-collarbone", "Frature")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("shoulder-collarbone", "Burns")
   },
   {
     value: " ",
     text: "Other shoulder or collarbone injury",
     checked: checked("shoulder-collarbone", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
}) }}

 {% endif %}
  <!-- end Shoulder or collarbone-->

   <!-- start Shoulder or Head -->
   {% if checked('where-is-the-injury','Head') %}
   {% from "govuk/components/input/macro.njk" import govukInput %}
        {% set injuryHtml %}
        {{ govukTextarea({
          name: "more-detail-head",
          id: "more-detail-head",
          value:data['more-detail-head'],
          label: {
            text: "Can you provide more detail?"
          }
        }) }}
          {% endset -%}

   {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "head",
    name: "head",
    fieldset: {
      legend: {
        text: "Select head injuries",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("head", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("head", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("head", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("head", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("head", "Burns")
   },
   {
    value: "Concussion",
    text: "Concussion",
    checked: checked("head", "Concussion")
  },
  {
    value: "Headache",
    text: "Headache",
    checked: checked("head", "Headache")
  },
  {
    value: "Bleed on the brain",
    text: "Bleed on the brain",
    checked: checked("head", "Bleed on the brain")
  },
   {
     value: " ",
     text: "Other head injury",
     checked: checked("head", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
  }) }}

   {% endif %}


 <!-- End Head -->

  <!-- start Chest or torso -->
  {% if checked('where-is-the-injury','Chest or torso') %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
       {% set injuryHtml %}
      {{ govukTextarea({
        name: "more-detail-chest-torso",
        id: "more-detail-chest-torso",
        value:data['more-detail-chest-torso'],
        label: {
          text: "Can you provide more detail?"
        }
      }) }}
         {% endset -%}

  {{ govukCheckboxes({
   classes: "govuk-checkboxes--small",
   idPrefix: "chest-torso",
   name: "chest-torso",
   fieldset: {
     legend: {
       text: "Select chest or torso injuries",
       isPageHeading: false,
       classes: "govuk-fieldset__legend--m"
     }
   },
   items: [
   {
     value: "Soft tissue injury (for example, bruise, strain or tear)",
     text: " Soft tissue injury (for example, bruise, strain or tear)",
     checked: checked("chest-torso", "Soft tissue injury (for example, bruise, strain or tear)")
   },
   {
     value: "Pain or discomfort",
     text: "Pain or discomfort",
     checked: checked("chest-torso", "Pain or discomfort")
   },
   {
     value: "Cuts or scarring",
     text: "Cuts or scarring",
     checked: checked("chest-torso", "Cuts or scarring")
   },
  {
    value: "Fracture",
    text: " Fracture",
    checked: checked("chest-torso", "Fracture")
  },
  {
    value: "Burns",
    text: "Burns",
    checked: checked("chest-torso", "Burns")
  },
  {
    value: "Breathing problems",
    text: "Breathing problems",
    checked: checked("chest-torso", "Breathing problems")
  },
  {
    value: " ",
    text: "Other chest or torso injury",
    checked: checked("chest-torso", " "),
    conditional: {
      html: injuryHtml
    }
  }
]
 }) }}

  {% endif %}
 <!-- end Chest or torso -->

  <!-- start Arm, wrist, hand or finger -->
  {% if checked('where-is-the-injury','Arm, wrist, hand or finger') %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
       {% set injuryHtml %}
      {{ govukTextarea({
        name: "more-detail-arm",
        id: "more-detail-arm",
        value:data['more-detail-arm'],
        label: {
          text: "Can you provide more detail?"
        }
      }) }}
         {% endset -%}

  {{ govukCheckboxes({
   classes: "govuk-checkboxes--small",
   idPrefix: "arm",
   name: "arm",
   fieldset: {
     legend: {
       text: "Select arm, wrist, hand or finger injuries",
       isPageHeading: false,
       classes: "govuk-fieldset__legend--m"
     }
   },
   items: [
   {
     value: "Soft tissue injury (for example, bruise, strain or tear)",
     text: " Soft tissue injury (for example, bruise, strain or tear)",
     checked: checked("arm", "Soft tissue injury (for example, bruise, strain or tear)")
   },
   {
     value: "Pain or discomfort",
     text: "Pain or discomfort",
     checked: checked("arm", "Pain or discomfort")
   },
   {
     value: "Cuts or scarring",
     text: "Cuts or scarring",
     checked: checked("arm", "Cuts or scarring")
   },
  {
    value: "Fracture",
    text: " Fracture",
    checked: checked("arm", "Fracture")
  },
  {
    value: "Burns",
    text: "Burns",
    checked: checked("arm", "Burns")
  },
  {
    value: " ",
    text: "Other arm, wrist, hand or finger injury",
    checked: checked("arm", " "),
    conditional: {
      html: injuryHtml
    }
  }
]
 }) }}

  {% endif %}
 <!-- end Arm, wrist, hand or finger -->

  <!-- start Leg, knee, ankle or foot -->
  {% if checked('where-is-the-injury','Leg, knee, ankle or foot') %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
       {% set injuryHtml %}
      {{ govukTextarea({
        name: "more-detail-leg",
        id: "more-detail-leg",
        value:data['more-detail-leg'],
        label: {
          text: "Can you provide more detail?"
        }
      }) }}
         {% endset -%}

  {{ govukCheckboxes({
   classes: "govuk-checkboxes--small",
   idPrefix: "leg",
   name: "leg",
   fieldset: {
     legend: {
       text: "Select leg, knee, ankle or foot injuries",
       isPageHeading: false,
       classes: "govuk-fieldset__legend--m"
     }
   },
   items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("leg", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("leg", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("leg", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("leg", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("leg", "Burns")
   },
   {
     value: " ",
     text: "Other leg, knee, ankle or foot injury",
     checked: checked("leg", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
 }) }}

  {% endif %}
  <!-- end Leg, knee, ankle or foot -->

    <!-- start Hip or pelvis -->
    {% if checked('where-is-the-injury','Hip or pelvis') %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
         {% set injuryHtml %}
        {{ govukTextarea({
          name: "more-detail-hip-pelvis",
          id: "more-detail-hip-pelvis",
          value:data['more-detail-hip-pelvis'],
          label: {
            text: "Can you provide more detail?"
          }
        }) }}
           {% endset -%}

    {{ govukCheckboxes({
     classes: "govuk-checkboxes--small",
     idPrefix: "hip-pelvis",
     name: "hip-pelvis",
     fieldset: {
       legend: {
         text: "Select hip or pelvis injuries",
         isPageHeading: false,
         classes: "govuk-fieldset__legend--m"
       }
     },
     items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("hip-pelvis", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("hip-pelvis","Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("hip-pelvis", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("hip-pelvis", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("hip-pelvis", "Burns")
   },
   {
     value: " ",
     text: "Other hip or pelvis injury",
     checked: checked("hip-pelvis", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
   }) }}

    {% endif %}
    <!-- end or pelvis -->

    <!-- start Jaw or teeth -->
    {% if checked('where-is-the-injury','Jaw or teeth') %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
         {% set injuryHtml %}
        {{ govukTextarea({
          name: "more-detail-jaw-teeth",
          id: "more-detail-jaw-teeth",
          value:data['more-detail-jaw-teeth'],
          label: {
            text: "Can you provide more detail?"
          }
        }) }}
           {% endset -%}

    {{ govukCheckboxes({
     classes: "govuk-checkboxes--small",
     idPrefix: "jaw-teeth",
     name: "jaw-teeth",
     fieldset: {
       legend: {
         text: "Select jaw or teeth injuries",
         isPageHeading: false,
         classes: "govuk-fieldset__legend--m"
       }
     },
     items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("jaw-teeth", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("jaw-teeth", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("jaw-teeth", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("jaw-teeth", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("jaw-teeth", "Fracture")
   },
   {
    value: "Tooth loss",
    text: "Tooth loss",
    checked: checked("jaw-teeth", "Tooth loss")
  },
   {
     value: " ",
     text: "Other jaw or teeth injury",
     checked: checked("jaw-teeth", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
   }) }}

    {% endif %}
    <!-- End or teeth -->

    <!-- start Ears, eyes, mouth or nose -->
    {% if checked('where-is-the-injury','Ears, eyes, mouth or nose') %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
         {% set injuryHtml %}
        {{ govukTextarea({
          name: "more-detail-ears",
          id: "more-detail-ears",
          value:data['more-detail-ears'],
          label: {
            text: "Can you provide more detail?"
          }
        }) }}
           {% endset -%}

    {{ govukCheckboxes({
     classes: "govuk-checkboxes--small",
     idPrefix: "ears",
     name: "ears",
     fieldset: {
       legend: {
         text: "Select ear, eye, mouth or nose injuries",
         isPageHeading: false,
         classes: "govuk-fieldset__legend--m"
       }
     },
     items: [
    {
      value: "Soft tissue injury (for example, bruise, strain or tear)",
      text: " Soft tissue injury (for example, bruise, strain or tear)",
      checked: checked("ears", "Soft tissue injury (for example, bruise, strain or tear)")
    },
    {
      value: "Pain or discomfort",
      text: "Pain or discomfort",
      checked: checked("ears", "Pain or discomfort")
    },
    {
      value: "Cuts or scarring",
      text: "Cuts or scarring",
      checked: checked("ears", "Cuts or scarring")
    },
   {
     value: "Fracture",
     text: " Fracture",
     checked: checked("ears", "Fracture")
   },
   {
     value: "Burns",
     text: "Burns",
     checked: checked("ears", "Burns")
   },
   {
    value: "Broken nose",
    text: "Broken nose",
    checked: checked("ears", "Broken nose")
  },
  {
    value: "Nose bleed",
    text: "Nose bleed",
    checked: checked("ears", "Nose bleed")
  },
  {
    value: "Ringing in ears",
    text: "Ringing in ears",
    checked: checked("ears", "Ringing in ears")
  },
  {
    value: "Full or partial loss of sight",
    text: "Full or partial loss of sight",
    checked: checked("ears", "Full or partial loss of sight")
  },
   {
     value: " ",
     text: "Other ear, eye, mouth or nose injury",
     checked: checked("ears", " "),
     conditional: {
       html: injuryHtml
     }
   }
 ]
   }) }}

    {% endif %}
    <!-- end, eyes, mouth or nose -->

    <!-- start Mental or emotional symptoms -->
    {% if checked('where-is-the-injury','Mental or emotional symptoms') %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
         {% set injuryHtml %}
        {{ govukTextarea({
          name: "more-detail-mental",
          id: "more-detail-mental",
          value:data['more-detail-mental'],
          label: {
            text: "Can you provide more detail?"
          }
        }) }}
           {% endset -%}

    {{ govukCheckboxes({
     classes: "govuk-checkboxes--small",
     idPrefix: "mental",
     name: "mental",
     fieldset: {
       legend: {
         text: "Select psychological injuries",
         isPageHeading: false,
         classes: "govuk-fieldset__legend--m"
       }
     },
     items: [
     {
       value: "Fear or anxiety",
       text: "Travel anxiety",
       checked: checked("mental", "Fear or anxiety")
     },
     {
       value: "Breathing problems",
       text: "Post traumatic stress disorder (PTSD)",
       checked: checked("mental", "Fear or anxiety")
     },
     {
       value: "Sleep loss",
       text: "Sleep problems",
       checked: checked("mental", "Sleep loss")
     },

    {
      value: " ",
      text: "Other injury details",
      checked: checked("mental", " "),
      conditional: {
        html: injuryHtml
      }
    }
  ]
   }) }}

    {% endif %}
    <!-- end Mental or emotional symptoms -->

      <!-- start Brain or nervous system symptoms -->
      {% if checked('where-is-the-injury','Brain or nervous system symptoms') %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
           {% set injuryHtml %}
          {{ govukTextarea({
            name: "more-detail-brain",
            id: "more-detail-brain",
            value:data['more-detail-brain'],
            label: {
              text: "Can you provide more detail?"
            }
          }) }}
             {% endset -%}

      {{ govukCheckboxes({
       classes: "govuk-checkboxes--small",
       idPrefix: "brain",
       name: "brain",
       fieldset: {
         legend: {
           text: "Select nervous system or neurological injuries",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
       {
         value: "Tingling or numbness",
         text: "Tingling or numbness",
         checked: checked("brain", "Tingling or numbness")
       },
       {
         value: "Shock",
         text: "Shock",
         checked: checked("brain", "Shock")
       },
       {
         value: "Nausea",
         text: "Nausea",
         checked: checked("brain", "Nausea")
       },
       {
        value: "Balance loss",
        text: "Balance loss",
        checked: checked("brain", "Balance loss")
      },
      {
        value: "Memory loss",
        text: "Memory loss",
        checked: checked("brain", "Memory loss")
      },
      {
        value: " ",
        text: "Other injury details",
        checked: checked("brain", " "),
        conditional: {
          html: injuryHtml
        }
      }
    ]
     }) }}

      {% endif %}
      <!-- end Brain or nervous system symptoms -->




      <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="completed" checked>
        <label class="govuk-label govuk-radios__label" for="claim-details">
         hidden radio for logic
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
