
{% extends folder+ "/layout_unbranded.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl" style="margin-top:50px">
            Certificate
          </h1>

  <button class="govuk-button" data-module="govuk-button" onclick="window.print()">
  Print certificate
</button>


  </div>

</div>


{% endblock %}
