
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}


  <div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

          <h1 class="govuk-heading-xl">Check your answers before registering the claim</h1>

          <h2 class="govuk-heading-m">The injured person</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['first-name'] | default('Sarah Philips') }}  {{ data['last-name'] | default('Philips') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['date-of-birth-day'] | default("28") }} {{ data['date-of-birth-month'] | default("02") | toMonth }} {{ data['date-of-birth-year'] | default("1978") }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"> {{ data['ni-number'] | default('AA 11 22 33 B ') }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> National insurance number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['choose-ip-address'] | default('72 Guild Street') }}<br>London<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Injury details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of injury
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['claim-date-day'] | default("3") }} {{ data['claim-date-month'] | default("03") | toMonth }} {{ data['claim-date-year'] | default("2020") }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Injury
              </dt>
              <dd class="govuk-summary-list__value">
              <!-- start Neck-->

{% if checked('where-is-the-injury','Neck') %}
<p>
{{ data['neck']}} {{ data['more-detail-neck']}} to <strong>neck</strong>
</p>
{% endif %}

<!-- End Neck-->
<!-- start Back-->
{% if checked('where-is-the-injury','Back') %}
<p>
  {{ data['back']}} {{ data['more-detail-back']}} to <strong>back</strong>
  </p>
{% endif %}
       
 <!-- End Back-->  
 <!-- start Shoulder or collarbone-->  
 {% if checked('where-is-the-injury','Shoulder or collarbone') %}
 <p>
  {{ data['shoulder-collarbone']}} {{ data['more-detail-shoulder-collarbone']}} to <strong>shoulder or collarbone</strong>
  </p>
 {% endif %}
  <!-- end Shoulder or collarbone-->  

   <!-- start Shoulder or Head -->  
   {% if checked('where-is-the-injury','Head') %}
   <p>
    {{ data['head']}} {{ data['more-detail-head']}} to <strong>head</strong>
    </p>
   {% endif %}
       
          
 <!-- End Head -->  

  <!-- start Chest or torso -->  
  {% if checked('where-is-the-injury','Chest or torso') %}
  <p>
    {{ data['chest-torso']}} {{ data['more-detail-chest-torso']}} to <strong>chest or torso</strong>
    </p>
  {% endif %}
 <!-- end Chest or torso -->  

  <!-- start Arm, wrist, hand or finger -->  
  {% if checked('where-is-the-injury','Arm, wrist, hand or finger') %}
  <p>
    {{ data['arm']}} {{ data['more-detail-arm']}} to <strong>arm, wrist, hand or finger</strong>
    </p>
  {% endif %}
 <!-- end Arm, wrist, hand or finger -->  

  <!-- start Leg, knee, ankle or foot -->  
  {% if checked('where-is-the-injury','Leg, knee, ankle or foot') %}
  <p>
    {{ data['leg']}} {{ data['more-detail-leg']}} to <strong>leg, knee, ankle or foot</strong>
  </p>
  {% endif %}
  <!-- end Leg, knee, ankle or foot -->  

    <!-- start Hip or pelvis -->  
    {% if checked('where-is-the-injury','Hip or pelvis') %}
    <p>
      {{ data['hip-pelvis']}} {{ data['more-detail-hip-pelvis']}} to <strong>hip or pelvis</strong>
    </p>
    {% endif %}
    <!-- end or pelvis -->  

    <!-- start Jaw or teeth -->  
    {% if checked('where-is-the-injury','Jaw or teeth') %}
    <p>
      {{ data['jaw-teeth']}} {{ data['more-detail-jaw-teeth']}} to <strong>jaw or teeth</strong>
    </p>
    {% endif %}
    <!-- End or teeth --> 
    
    <!-- start Ears, eyes, mouth or nose -->  
    {% if checked('where-is-the-injury','Ears, eyes, mouth or nose') %}
    <p>
      {{ data['ears']}} {{ data['more-detail-ears']}} to <strong>ears, eyes, mouth or nose</strong>
    </p> 
    {% endif %}
    <!-- end, eyes, mouth or nose -->  

    <!-- start Mental or emotional symptoms -->  
    {% if checked('where-is-the-injury','Mental or emotional symptoms') %}
    <p>
      {{ data['mental']}} {{ data['more-detail-mental']}} to <strong>mental or emotional symptoms</strong>
    </p>    
    {% endif %}
    <!-- end Mental or emotional symptoms -->  

      <!-- start Brain or nervous system symptoms -->  
      {% if checked('where-is-the-injury','Brain or nervous system symptoms') %}
      <p>
        {{ data['brain']}} {{ data['more-detail-brain']}} to <strong>brain or nervous system symptoms</strong>
      </p>    
      {% endif %}
      <!-- end Brain or nervous system symptoms -->  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> About the injury</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Compensator or insurance company</h2>


          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
               Direct insurance
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date</span>
                </a>
              </dd>
            </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                paul.husdoon@directinsurance.co.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">email address</span>
                  </a>
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reference number
              </dt>
              <dd class="govuk-summary-list__value">
                DI345567Y
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> About the accident or incident</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                0800 897 654
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">telephone number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                12 Harrington Street<br>Manchester<br>M1 2HY
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Solicitor</h2>


          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
               Crowley solicitors
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">Solictor name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
              sally.brown@crowleycolicitors.co.uk
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reference number
              </dt>
              <dd class="govuk-summary-list__value">
                Cr1234567
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> About the accident or incident</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                0161 452 456
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">telephone</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                35 Grove Road<br>London<br>SW11 2HJ
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
          </dl>

          <p class="govuk-body">By submitting this claim you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


          <form action="confirmation" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button class="govuk-button" data-module="govuk-button">
              Accept and submit
            </button>

          </form>

        </div>
      </div>
    </main>
  </div>

{% endblock %}
