
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>





        <form class="form" action="task-list" method="post">



             <h1 class="govuk-heading-xl">
              <span class="govuk-caption-xl">Compensator</span>
              {% if checked('rep-compensator','Yes')%}
              Choose the representative's address
              {% else %}
              Choose the compensator's address
              {% endif %}
             </h1>


         <h2 class="govuk-heading-m">Postcode</h2>
         <p class="govuk-body">{{ data['compensatorpostcode']}} <a href="compensator-address.html">Change postcode</a></p>

   <div class="govuk-form-group">
     <label class="govuk-label" for="sort">
       Choose address
     </label>
     <select class="govuk-select" id="sort" name="comp-address">
       <option value="published">3 addresses found</option>
       {% if checked("choose-participent", "3") %}
       <option value="Enbrook Park">Enbrook Park, Folkestone, Kent{{ data['compensatorpostcode']}}</option>
       <option value="2 Enbrook Park">Enbrook Park, Folkestone, Kent {{ data['compensatorpostcode']}}</option>
       <option value="4 Enbrook Park">Enbrook Park, Folkestone, Kent {{ data['compensatorpostcode']}}</option>
       {% elif checked("choose-participent", "2")%}
       <option value="Sabre House, 150 South Street">Sabre House, 150 South Street, Dorking, Surrey {{ data['compensatorpostcode']}}</option>
       <option value="152 South Street">152 South Street, Dorking, Surrey , {{ data['compensatorpostcode']}}</option>
       <option value="154 South Street">154 South Street, Dorking, Surrey, {{ data['compensatorpostcode']}}</option>
       {% else %}
       <option value="100 Petty France">100 Petty France, London, {{ data['compensatorpostcode']}}</option>
       <option value="102 Petty France">102 Petty France, London, {{ data['compensatorpostcode']}}</option>
       <option value="104 Petty France">104 Petty France, London, {{ data['compensatorpostcode']}}</option>
       {% endif %}
     </select>
   </div>

   <div class="govuk-radios__item govuk-visually-hidden">
    <input class="govuk-radios__input" id="injured-persons-details" name="compensator-details" type="radio" value="completed" checked>
    <label class="govuk-label govuk-radios__label" for="injured-persons-details">
     hidden radio for logic
    </label>
  </div>

   <button class="govuk-button" data-module="govuk-button">
    Continue
   </button>
   <p class="govuk-body"><a href="#">Enter address manually</a></p>


    </form>

    </div>
  </div>

{% endblock %}
