
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>





        <form class="form" action="task-list" method="post">



             <h1 class="govuk-heading-xl">
              <span class="govuk-caption-xl">Compensator</span>
              {% if checked('rep-compensator','Yes')%}
              Choose the representative's address
              {% else %}
              Choose the compensator's address
              {% endif %}
             </h1>


         <h2 class="govuk-heading-m">Postcode</h2>
         <p class="govuk-body">{{ data['compensatorpostcode']}} <a href="compensator-address.html">Change postcode</a></p>

   <div class="govuk-form-group">
     <label class="govuk-label" for="sort">
       Choose address
     </label>
     <select class="govuk-select" id="sort" name="comp-address">
       <option value="published">3 addresses found</option>
       <option value="497 Silbury Boulevard">497 Silbury Boulevard, Milton Keynes, {{ data['compensatorpostcode']}}</option>
       <option value="Ashton House, Silbury Boulevard">Ashton House, Silbury Boulevard, Milton Keynes, {{ data['compensatorpostcode']}}</option>
       <option value="501 Silbury Boulevard">501 Silbury Boulevard, Milton Keynes, {{ data['compensatorpostcode']}}</option>
     </select>
   </div>

   <div class="govuk-radios__item govuk-visually-hidden">
    <input class="govuk-radios__input" id="injured-persons-details" name="compensator-details" type="radio" value="completed" checked>
    <label class="govuk-label govuk-radios__label" for="injured-persons-details">
     hidden radio for logic
    </label>
  </div>

   <button class="govuk-button" data-module="govuk-button">
    Continue
   </button>
   <p class="govuk-body"><a href="#">Enter address manually</a></p>


    </form>

    </div>
  </div>

{% endblock %}
