
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="task-list" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="compentator-trust-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-xl">About the hospital(s) attended because of the
                    accident or incident</span>
                    Is the compensator the same as the Trust?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="compentator-trust" name="compentator-trust" type="radio" value="Yes" {{ checked("compentator-trust", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="compentator-trust">
                   Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="compentator-trust" name="compentator-trust" type="radio" value="No~/add-hospitals" {{ checked("compentator-trust", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="compentator-trust">
                   No
                  </label>
                </div>
              </div>
          
            </fieldset>
          </div>
  

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
