
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
      <span class="govuk-caption-xl">Signed in as</span>
       Esure Insurance Ltd
      </h1>

     <!-- <p>Welcome to the Compensation Recovery Unit (CRU) service. </p> -->
      <div class="card-container">

        <div class="card ">
          <h2 class="govuk-heading-s">
            Register or update a claim</h2>
         <div class="card-inner-panel">
      <form class="form" action="about-the-injured-person" method="post">
        <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-4">Add a new claim</button>
        <div class="govuk-radios__item govuk-visually-hidden">
          <input class="govuk-radios__input" id="setuser" name="setuser" type="radio" value="compensator" checked>
          <label class="govuk-label govuk-radios__label" for="setuser">
           hidden radio for logic
          </label>
        </div>


        </form>
        <a href="sign-in" class="govuk-button govuk-button--secondary">Find an existing claim</a>
        </div>
       </div>


      <div class="card double">
      <h2 class="govuk-heading-s">
       Your company details</h2>
       <div class="card-inner-panel">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">
              2 Brigewater Place, Leeds, LS2 4DS
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Email
            </dt>
            <dd class="govuk-summary-list__value">
              cru@esureinsurance.so.uk
            </dd>

          </div>
          <div class="govuk-summary-list__row no-border">
            <dt class="govuk-summary-list__key">
              Telephone
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">0451 456 6754</p>
            </dd>
          </div>
        </dl>
       </div>
            </div>





    </div>
  </div>

{% endblock %}
