
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <form action="/current/registration/injury-answer" method="post" class="form">


          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



          {{ govukCheckboxes({
            idPrefix: "injury",
            name: "injury",
            fieldset: {
              legend: {
                text: "What type of injury did the person suffer?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
            {
              value: "Whiplash",
              text: "Whiplash"
            },
              {
                value: "Physical",
                text: "Physical injury other than whiplash",
                hint: {
                  text: "For example, soft tissue injury or fracture"
                }
              },
              {
                value: "Phychological",
                text: "Psychological",
                hint: {
                  text: "For example, travel anxiety"
                }
              },
              {
                value: "Neurological",
                text: "Neurological",
                hint: {
                  text: "For example, tingling or numbness"
                }
              }
            ]
          }) }}
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
