
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Page not found
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Page not found</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
          </p>
      <p class="govuk-body">
          If the web address is correct or you selected a link or button, contact the Compensation Recovery Unit if you need to speak to someone urgently about a compensation claim.
        </p>
        <p class="govuk-body">
          Telephone:<br>
          <strong class="govuk-!-font-weight-bold">0800 151 3196</strong>
        </p>
        <p class="govuk-body">
          Email:<br>
          <strong class="govuk-!-font-weight-bold"><a href="mailto:CRU.highvolumeareacertificates@dwp.gov.uk">CRU.highvolumeareacertificates@dwp.gov.uk</a></strong>
        </p>
        <p class="govuk-body">
          Opening times:<br>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 9am to 5pm</strong>
        </p>
        <p class="govuk-body">
          Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
        </p>

{% endblock %}
