
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
You'll have to start again
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Sorry, you'll have to start again</h1>
      <p class="govuk-body">
        You haven't entered any details for 30 minutes, so we have cleared your information to keep it secure.
        </p>
        <p class="govuk-body">
          If you were registering a new claim you'll need to <a href="#">sign in</a> to start again.
          </p>


{% endblock %}
