
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
You'll have to start again
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Sorry, you'll have to start again</h1>
      <p class="govuk-body">
        Your session automatically ends if you don’t use the service for 30 minutes. We do this for your security.
        </p>
        <p class="govuk-body">
          We have not saved any data if you were registering a new claim. You'll need to <a href="#">sign in</a> to start again.
          </p>
    

{% endblock %}
