
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Comfirm settlement date and reason
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
      <form class="form" action="case-view" method="post">

        <h1 class="govuk-heading-l">Check your answers before submitting</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of settlement
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['settlement-date-day']}} {{ data['settlement-date-month']}} {{ data['settlement-date-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="settlement-date">
                Change<span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of settlement
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-of-settlement']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="settlement-type">
                Change<span class="govuk-visually-hidden"> type of settlement</span>
              </a>
            </dd>
          </div>
        </dl>




<div class="govuk-radios__item govuk-visually-hidden">
  <input class="govuk-radios__input" id="case-settled" name="case-settled" type="radio" value="yes" checked>
  <label class="govuk-label govuk-radios__label" for="case-settled">
   hidden radio for logic
  </label>
</div>


      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>

    </form>

    </div>
  </div>

{% endblock %}
