
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the claim and injuries - Please tell us the date of the accident or alleged clinical negligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="task-list" method="post">

          <h1 class="govuk-heading-xl">
           Enter claim details to sign-in
            </h1>

            <div class="govuk-form-group">
              <label class="govuk-label" for="cru-reference">
                 Claim reference number
                </label>
                <div id="claim-ref-hint" class="govuk-hint">
                  We sent this to you by email when you registered the claim
                </div>
              <input class="govuk-input govuk-input--width-10" id="cru-name" name="cru-reference" type="text" value="{{data['cru-reference']}}">
            </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <label class="govuk-label">
                  Injured person's date of birth
                </label>
              </legend>
              <div id="date-of-birth-hint" class="govuk-hint">
                For example, 12 11  1990
              </div>
              <div class="govuk-date-input" id="date-of-birth">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-day']}}"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-month']}}"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-year']}}"></div>
                </div>
              </div>

            </fieldset>
          </div>

      <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="" name="" type="radio" value="" checked>
        <label class="govuk-label govuk-radios__label" for="">
         hidden radio for logic
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Sign in
      </button>

    </form>

    </div>
  </div>

{% endblock %}
