
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        Add a new claim
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Registration incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed <span class="numcompleted"></span> of 4 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> The injured person
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="about-the-injured-person" aria-describedby="">
                  Tell us who was injured
                </a>
              </span>
              {% if checked('injured-persons-details','completed') %}
              <strong class="govuk-tag app-task-list__tag countcompleted" id="">Completed</strong>
              {% elif checked('injured-persons-details','started') %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Injury details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="date-of-claim" aria-describedby="">
                  Tell us about the injury
                </a>
              </span>
              {% if checked('claim-details','completed') %}
              <strong class="govuk-tag app-task-list__tag countcompleted" id="">Completed</strong>
              {% elif checked('claim-details','started') %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
              {% endif %}
            </li>


          </ul>
        </li>
<!--
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Compensator
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="about-the-compensator" aria-describedby="list-convictions-status">
                  Provide compensator details
                </a>
              </span>
              {% if checked('compensator-details','completed') %}
              <strong class="govuk-tag app-task-list__tag countcompleted" id="">Completed</strong>
              {% elif checked('compensator-details','started') %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Injured person's representative
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="about-the-injured-persons-rep" aria-describedby="list-convictions-status">
                Provide representative details
                </a>
              </span>
              {% if checked('representative-details','completed') %}
              <strong class="govuk-tag app-task-list__tag countcompleted" id="">Completed</strong>
              {% elif checked('representative-details','started') %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Submit claim
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if
                checked('injured-persons-details','completed') and
                checked('claim-details','completed') and
                checked('compensator-details','completed') and
                checked('representative-details','completed') %}
                <a href="check-answers">Submit</a>
                {% else %}
                Submit
                {% endif %}

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">
                {% if
                  checked('injured-persons-details','completed') and
                  checked('claim-details','completed') and
                  checked('compensator-details','completed') and
                  checked('representative-details','completed') %}
                  Not started yet
                  {% else %}
                  Cannot start yet
                  {% endif %}

                </strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
<!-- code for demo only-->
  <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:black;
      padding:0.8em;
      color:white;
      }
  </style>

<script>

  jQuery(document).ready(function() {
      alert( jQuery(".countcompleted").length );
  });

</script>


  <a href ='task-list-completed' class="timemachine">Forward</a>

{% endblock %}
