
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% set totcases = 0 %}
{% set nilcases = 0 %}
{% set intcases = 0 %}
{% set intcasestasks = 0 %}



	{% for case in cases %}

<!-- BASE VALUES -->


  {% if case %}
   {% set totcases = totcases + 1 %}
   {% endif %}

    {% if case.interest === "no"  %}
     {% set nilcases = nilcases + 1 %}
    {% endif %}

  {% if case.interest === "yes" %}
     {% set intcases = intcases + 1 %}
    {% endif %}

    {% if case.task === "yes" %}
    {% set intcasestasks = intcasestasks + 1 %}
   {% endif %}

{% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-visually-hidden">
       Compensation Recovery service dashboard
      </h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="find-case">
          Find case
        </label>
        <input class="govuk-input govuk-input--width-10" id="find-case" name="find-case" type="text" spellcheck="false" aria-describedby="find-case-hint">
        <button class="govuk-button govuk-!-margin-bottom-0">Find case</button>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"><h2 class="govuk-heading-m">Cases</h2></div>
        <div class="govuk-grid-column-one-quarter"><h2 class="govuk-heading-s">Total<span class="govuk-!-font-size-48 govuk-!-display-block">{{totcases}}</span></h2></div>
        <div class="govuk-grid-column-one-quarter"><h2 class="govuk-heading-s">Nil certifcates issued <span class="govuk-!-font-size-48 govuk-!-display-block">{{nilcases}}</span></h2></div>
        <div class="govuk-grid-column-one-quarter"><h2 class="govuk-heading-s">Benefits to recover<span class="govuk-!-font-size-48 govuk-!-display-block">{{intcases}}</span></h2></div>

      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form class="form" action="" method="post">
      <div class="govuk-grid-row">
   
        <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Tasks ({{intcasestasks}})</caption>
            <thead class="govuk-table__head">

              
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">National insurance number</th>
                <th scope="col" class="govuk-table__header">Due</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for case in cases %}
              {% if case.task === "yes" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="../case/case-details-and-tasks-accordion?reference={{case.reference}}" class="govuk-body govuk-link  govuk-!-display-block govuk-!-margin-bottom-0">{{case.firstname}} {{case.lastname}}</a></th>
                <td class="govuk-table__cell">{{ case.nino }}</td>
                <td class="govuk-table__cell">28 Days</td>
              </tr>

              <div class="govuk-radios__item  govuk-visually-hidden">
                <input class="govuk-radios__input" id="case-links" name="case-link" type="radio" value="hide~../case/case-details-and-tasks-accordion?reference={{case.reference}}" checked>
                <label class="govuk-label govuk-radios__label" for="case-links">
                  selected radio for logic
                </label>
              </div>

              {% endif %}

           
             {% endfor %} 
            </tbody>
          </table>
      </div>
      </div>

    

      </form>
     
      <div class="card-container">


        <div class="card">
          <h2 class="govuk-heading-s">
            Tasks</h2>
         <div class="card-inner-panel">
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li><a href="task-list" >Tasks to do (80)</a></li>
         </ul>
        </div> 
       </div> 



    

  


    




    </div>
  </div>

{% endblock %}
