<h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    Sarah Henderson 
   </h1>

   <style>
     .keydetails{
       border-bottom:1px solid black;
       border-left:none;
       border-right:none;
       padding:10px 0;
       margin-bottom:30px;
     }

     .keydetails li{
       display:inline-block;
       padding-right:30px
     }
   </style>

    <ul class="govuk-list keydetails">
      <li>Cru reference: <br>123456</li>
      <li>National Insurance number:<br> DD 11 22 33 D</li>
      <li>Sla: <br> <span class="">27</span> Days remaining</li>
      <li>Interests:<br> <strong class="govuk-tag">
        UC
      </strong>
      <strong class="govuk-tag">
        PIP
       </strong>
      <strong class="govuk-tag govuk-tag--blue">
       NHS
      </strong></li>
    </ul>
