<nav class="app-subnav"> 
    <ul class="app-subnav__section">
      {% if nav  == 'case details' %}
      <li class="app-subnav__section-item app-subnav__section-item--current">
        {% else %}
        <li class="app-subnav__section-item">
          {% endif %}
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="case-details-and-tasks">Case details and tasks</a>

        {% if nav  == 'History' %}
        <li class="app-subnav__section-item app-subnav__section-item--current">
          {% else %}
          <li class="app-subnav__section-item">
            {% endif %}
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="history-notes">History and notes</a>
        
      </li>
      {% if nav  == 'Personal details' %}
      <li class="app-subnav__section-item app-subnav__section-item--current">
        {% else %}
        <li class="app-subnav__section-item">
          {% endif %}
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="personal-details">Personal details</a>
        
      </li>
    
      {% if nav  == 'Compensator details' %}
      <li class="app-subnav__section-item app-subnav__section-item--current">
        {% else %}
        <li class="app-subnav__section-item">
          {% endif %}
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="compensator-details">Compensator details</a>
        
      </li>
    
      {% if nav  == 'Representative details' %}
      <li class="app-subnav__section-item app-subnav__section-item--current">
        {% else %}
        <li class="app-subnav__section-item">
          {% endif %}
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="representative-details">Representative details</a>
        
      </li>       
    </ul>
</nav>