
{% extends "layout.html" %}

{% set nav = "Compensator details" %}

{% block pageTitle %}
  Case details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_keydetails.html" %} 
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "./_subnav.html" %} 
    </div>
    <div class="govuk-grid-column-three-quarters">
     <h2 class="govuk-heading-l">Compensator details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">Insure Co Ltd</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address</th>
          <td class="govuk-table__cell"> Alexander house,  Talbot Road, Manchester, M16 0SP</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email address</th>
          <td class="govuk-table__cell">cruliability@insureco.com</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Telephone</th>
          <td class="govuk-table__cell"> 0161 123 4567</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Fax</th>
          <td class="govuk-table__cell">0161 123 5678</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reference</th>
          <td class="govuk-table__cell">4567890/02</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Policy Holder</th>
          <td class="govuk-table__cell">Miss Lauren Smith</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>

{% endblock %}
