<h1 class="govuk-heading-l">Hospital or medical center</h1>

<table class="govuk-table">
 <tbody class="govuk-table__body">
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header">Name</th>
     <td class="govuk-table__cell">St Thomas' Hospital</td>
   </tr>
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header">Date attended</th>
     <td class="govuk-table__cell">22 March 2021</td>
   </tr>
 </tbody>
</table>

<a href="" class="govuk-button govuk-button--secondary">Hospital or medical center</a>