<div class="keydetails"><h1 class="govuk-heading-l govuk-!-margin-bottom-0">
  {{case.name | default('Sarah Henderson') }}
  <span class="govuk-caption-m">
    National insurance number: DD 11 22 33 D
  </span>
  <!-- paste this on the end of th e browser to see a name from case data (?reference=EPPPinkuu0qGi)-->
   </h1>

   <style>
     .keydetails{
       padding:15px 0 ;
       margin-bottom:0px;
       border-bottom:1px solid #b1b4b6;
     }

     .keydetails ul{
       margin-bottom:0;
       padding-top:15px;
     }

     .keydetails li{
       display:inline-block;
       padding-right:30px
     }
   </style>
</div>
<div class="govuk-inset-text blue govuk-!-margin-top-5 govuk-!-margin-bottom-0">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Case overview</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>Interests: UC, PIP and NHS</li>
        <li>Reference: 123456</li>
        <li>Due: <span class="">27</span> Days</li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>Case type: Injury </li>
        <li>Injury: Whiplash</li>
        <li>Injury date: 20 december 2020</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">    <ul class="govuk-list">
      <li>Insurance company: Insure co</li>
      <li>Solicitor: Crowleys</li>
    </ul></div>
  </div>
</div>