<div class="keydetails">
  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a> 
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
  {{case.firstname | default('Sarah') }} {{case.lastname | default('Sarah') }}
  <span class="govuk-visually-hidden">
    National insurance number
  </span>
  <span class="govuk-caption-m">
  {{case.nino | default('FD223344D') }}
  </span>
   </h1>

   <style>
     .keydetails{
       padding:15px 0 ;
       margin-bottom:0px;
       border-bottom:1px solid #b1b4b6;
     }

     .keydetails ul{
       margin-bottom:0;
       padding-top:15px;
     }

     .keydetails li{
       display:inline-block;
       padding-right:30px
     }
   </style>
</div>
<div class="govuk-inset-text blue govuk-!-margin-top-5 govuk-!-margin-bottom-5">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Status: {{case.status}}</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>Interests: UC</li>
        <li>Reference: {{case.reference | default('CRU123') }}</li>
        <li>Due: <span class="">27</span> Days</li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>Type: Injury </li>
        <li>Injury: Whiplash</li>
        <li>Injury date: 20 december 2020</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">    <ul class="govuk-list">
      <li>Insurance company: Insure co</li>
      <li>Solicitor: Crowleys</li>
    </ul></div>
  </div>
</div>