
{% extends folder+ "/layout.html" %}

{% set nav = "Injury" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block keydetails %}
{% include  folder+ "/includes/keydetails.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "./_subnav.html" %} 
    </div>
    <div class="govuk-grid-column-three-quarters">
     {% include "./_injury-illness-accident.html" %} 
    </div>
  </div>

{% endblock %}
