
{% extends "layout.html" %}

{% block pageTitle %}
About the claim and injuries - Please tell us the date of the accident or alleged clinical negligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="liability-guard" method="post">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="about-the-accident">
              <span class="govuk-caption-xl">About the claim and injuries</span>
              About the accident or incident
              </label>
            </h1>
            <div id="about-the-accident-hint" class="govuk-hint">
              If this compensation claim is because of an accident or condition, please describe the injuries
              that happened due to that accident. Include the specific body parts involved, for example left
              arm, left ankle. 
            </div>
            <textarea class="govuk-textarea" id="about-the-accident" name="about-the-accident" rows="5" aria-describedby="about-the-accident-hint" >{{ data['about-the-accident']}}</textarea>
          </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
