
{% extends "layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}


 
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
  
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Registration complete
            </h1>
            <div class="govuk-panel__body">
              Your claim reference number<br><strong>CRU-12345</strong>
            </div>
          </div>

          <div class="card">
            <h2 class="govuk-heading-s">Money owed to DWP or the NHS</h2>
            <div class="card-inner-panel">
              <p class="govuk-body">
                <span  class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-display-block">£0.00</span>
                The injured person does not owe any money to DWP or the NHS.
              </p>
            <a href="" class="govuk-button govuk-button--secondary">View and print certificate</a>
           </div>
          </div>
  
        </div>
      </div>
  

{% endblock %}
