
{% extends "layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="injured-person-address-choice-pre-filled" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="ni-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-xl">About the injured person</span>
                  Does the injured person have a national insurance number
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ni" name="ni" type="radio" value="yes" data-aria-controls="conditional-ni" {{ checked("ni", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="ni">
                   Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ni">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="ni-number-pre-filled">
                      Enter the injured person's national insurance number
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="ni-by-text" name="ni-number-pre-filled" type="text" spellcheck="false" value="{{ data['ni-number-pre-filled']}}"></div>
          
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ni-2" name="ni" type="radio" value="no" data-aria-controls="conditional-ni-2" {{ checked("ni", "no") }}>
                  <label class="govuk-label govuk-radios__label" for="ni-2">
                  No
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ni-2">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <label class="govuk-fieldset__heading">
                          Why not?
                        </label>
                      </legend>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="no-ni-reason" name="no-ni-reason" type="radio" value="The injured person is foreign" {{ checked("no-ni-reason", "The injured person is foreign") }}>
                          <label class="govuk-label govuk-radios__label" for="no-ni-reason">
                            The injured person is a foreign national
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="no-ni-reason-2" name="no-ni-reason" type="radio" value="The injured person has refuge/immigrant status" {{ checked("no-ni-reason", "The injured person has refuge/immigrant status") }}>
                          <label class="govuk-label govuk-radios__label" for="no-ni-reason-2">
                            The injured person has refuge/immigrant status
                          </label>
                        </div>
                      </div>
                  
                    </fieldset>
                  </div>
              </div>
          
            </fieldset>
          </div>

  


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
