
{% extends "layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register a claim with the Compensation Recovery Unit
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">5 of 6  sections have been completed</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About the injured person
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="ni-guard" aria-describedby="">
                  Add the injured persons details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About the claim and injuries
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="claim-guard" aria-describedby="">
                 Add details about the claim and injuries
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
            </li>
    
  
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> About the compensator
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="about-the-compensator" aria-describedby="list-convictions-status">
                Add compensator's details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> About the injured person's representative
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="about-the-injured-persons-rep" aria-describedby="list-convictions-status">
                Add injured person's representative details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> About the hospital(s) attended because of the
            accident or incident
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="nhs-guard" aria-describedby="list-convictions-status">
                Add hospital details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Register 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-answers" aria-describedby="list-convictions-status">
                Submit 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
