
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
There is a problem with the service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">
        Try again later.
        </p>
        <p class="govuk-body">
          We have not saved any data if you were registering a new claim. When the service is available, you will have to start again.
          </p>
      <p class="govuk-body">
          Contact the Compensation Recovery Unit if you need to speak to someone urgently about a compensation claim.
        </p>
        <p class="govuk-body">
          Telephone:<br>
          <strong class="govuk-!-font-weight-bold">0800 151 3196</strong>
        </p>
        <p class="govuk-body">
          Email:<br>
          <strong class="govuk-!-font-weight-bold"><a href="mailto:CRU.highvolumeareacertificates@dwp.gov.uk">CRU.highvolumeareacertificates@dwp.gov.uk</a></strong>
        </p>
        <p class="govuk-body">
          Opening times:<br>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 9am to 5pm</strong>
        </p>
        <p class="govuk-body">
          Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
        </p>

{% endblock %}
