
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Service is unavailable
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Sorry, the service is unavailable</h1>
      <p class="govuk-body">
        You will be able to use the service from 9am on Monday 19 November 2021.
      </p>
      <p class="govuk-body">
          Contact the Compensation Recovery Unit if you need to speak to someone urgently about a compensation claim.
        </p>
        <p class="govuk-body">
          Telephone:<br>
          <strong class="govuk-!-font-weight-bold">0800 151 3196</strong>
        </p>
        <p class="govuk-body">
          Email:<br>
          <strong class="govuk-!-font-weight-bold"><a href="mailto:CRU.highvolumeareacertificates@dwp.gov.uk">CRU.highvolumeareacertificates@dwp.gov.uk</a></strong>
        </p>
        <p class="govuk-body">
          Opening times:<br>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 9am to 5pm</strong>
        </p>
        <p class="govuk-body">
          Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
        </p>

{% endblock %}
