
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
       Compensation Recovery Unit
      </h1>
      <div class="card-container">

        <div class="card">
          <h2 class="govuk-heading-s">
            Assessment</h2>
         <div class="card-inner-panel">
           <p class="govuk-body">Tasks</p>
           <ul class="govuk-list">
             <li><a href="task-list" >Calculate benefit attribution (76)</a></li>
          </ul>
        </div> 
       </div>

       <div class="card">
        <h2 class="govuk-heading-s">
          Diseases</h2>
       <div class="card-inner-panel">
         <p class="govuk-body">Tasks</p>
         <ul class="govuk-list">
           <li><a href="task-list" >Calculate Benefit attribution (40)</a></li>
        </ul>
      </div> 
     </div>

     <div class="card">
      <h2 class="govuk-heading-s">
        Clinical negligence</h2>
     <div class="card-inner-panel">
       <p class="govuk-body">Tasks</p>
       <ul class="govuk-list">
         <li><a href="task-list" >Calculate Benefit attribution (23)</a></li>
      </ul>
    </div> 
   </div>
    

     <div class="card">
      <h2 class="govuk-heading-s">
       NHS</h2>
     <div class="card-inner-panel">
       <p class="govuk-body">Tasks</p>
       <ul class="govuk-list">
         <li><a href="task-list" >Calculate NHS attribution (100)</a></li>
      </ul>
    </div> 
   </div>


     <div class="card">
      <h2 class="govuk-heading-s">
       Payments</h2>
     <div class="card-inner-panel">
       <p class="govuk-body">Tasks</p>
       <ul class="govuk-list">
         <li><a href="task-list" >Reconcile payment (150)</a></li>
      </ul>
    </div> 
   </div>

    




    </div>
  </div>

{% endblock %}
