
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Insurance company -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="about-the-compensator" method="post">
         
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="liability-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      <span class="govuk-caption-xl">Insurance company
                      </span>
                      Are you representing the insurance company paying the compensation?
                    </h1>
                  </legend>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="Yes" {{ checked("liability", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="liability">
                       Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="No" {{ checked("liability", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="liability">
                       No
                      </label>
                    </div>
                   <!-- <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="Not yet Known" {{ checked("liability", "Not yet Known") }}>
                      <label class="govuk-label govuk-radios__label" for="liability">
                       Not yet known
                      </label>
                    </div> -->
                  </div>
              
                </fieldset>
              </div>
  


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
