<div class="keydetails"><h1 class="govuk-heading-l govuk-!-margin-bottom-0">
  {{case.name | default('Sarah Henderson') }}
  <span class="govuk-caption-m">
    National insurance number: DD 11 22 33 D
  </span>
  <!-- paste this on the end of th e browser to see a name from case data (?reference=EPPPinkuu0qGi)-->
   </h1>

   <style>
     .keydetails{
       padding:15px 0 ;
       margin-bottom:0px;
       border-bottom:1px solid #b1b4b6;
     }

     .keydetails ul{
       margin-bottom:0;
       padding-top:15px;
     }

     .keydetails li{
       display:inline-block;
       padding-right:30px
     }
   </style>

    <ul class="govuk-list">
      <li>Reference: 123456</li>
      <li>Type: Injury </li>
      <li>Due: <span class="">27</span> Days</li>
      <li>Interests: <strong class="govuk-tag">
        UC
      </strong>
      <strong class="govuk-tag">
        PIP
       </strong>
      <strong class="govuk-tag govuk-tag--blue">
       NHS
      </strong></li>
    </ul>
</div>
<div class="govuk-inset-text blue govuk-!-margin-top-5 govuk-!-margin-bottom-0">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Certificate requested</h3>
</div>