
{% extends folder+ "/layout.html" %}

{% set nav = "case details" %}

{% block pageTitle %}
  Case details
{% endblock %}

{% block keydetails %}
{% include  folder+ "/includes/keydetails.html" %}
{% endblock %}


      

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
        {% if case.status == 'Certificate requested'%}
        <h2 class="govuk-heading-m">Task</h2>
        <p class="">
          {% include  folder+ "/includes/task_type_playback.html" %}
        </p>
        <a class="govuk-button govuk-button--secondary" href="task?reference={{case.reference}}">Update case</a>
        {% else %}
        <h2 class="govuk-heading-m">Certificate issued</h2>
        <p><span class="govuk-!-font-size-27 govuk-!-font-weight-bold">£0 </span> benefits to recover, <a href="">view certificate</a></p>
        {% endif %}
      </div>
      <h2 class="govuk-heading-m">Case information</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Injured person
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      {% include  folder+ "/includes/injured-person.html" %}
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Injury
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      {% include  folder+ "/includes/injury.html" %}
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Insurance company (Compensator)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      {% include  folder+ "/includes/compensator-details.html" %}
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Injured person's solicitor
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      {% include  folder+ "/includes/solicitor-details.html" %}
    </div>
  </div>
</div>


    </div>
    <div class="govuk-grid-column-one-third">
      {% include  folder+ "/includes/timeline.html" %}
      </div>
  </div>

{% endblock %}
