

 <dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Injury
    </dt>
    <dd class="govuk-summary-list__value">
      Soft tissue injury to their left arm
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> injury</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key no-border">
      Date of injury
    </dt>
    <dd class="govuk-summary-list__value no-border">
      30 October 2020
    </dd>
    <dd class="govuk-summary-list__actions no-border">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> date of injury</span>
      </a>
    </dd>
  </div>
</dl>