
{% extends folder+ "/layout.html" %}

{% set nav = "case details" %}

{% block pageTitle %}
  Case details
{% endblock %}

{% block keydetails %}
{% include "./_keydetails.html" %}
{% endblock %}


      

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "./_subnav.html" %} 
    </div>
    <div class="govuk-grid-column-three-quarters">
     <h1 class="govuk-heading-l">Your tasks</h1>

    <h3 class="govuk-heading-s">Benefit</h3>
    <a href="" class="govuk-body">Calculate money owed to DWP</a>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">NHS</h3>
    <p>No tasks yet</p>

    </div>
  </div>

{% endblock %}
