
{% extends "layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>   
        <form class="form" action="date-of-claim" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="type-of-claim-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-xl">About the claim and injuries</span>
                  What type of claim are you registering?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-claim" name="type-of-claim" type="radio" value="injury"  {{ checked("type-of-claim", "injury") }}>
                  <label class="govuk-label govuk-radios__label" for="type-of-claim">
                  Injury
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-claim-2" name="type-of-claim" type="radio" value="disease~/about-the-disease"  {{ checked("type-of-claim", "disease") }}>
                  <label class="govuk-label govuk-radios__label" for="type-of-claim-2">
                  Disease
                  </label>
                </div>
   
          
            </fieldset>
          </div>

  


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    </div>
  </div>

{% endblock %}
