
{% extends "layout-index.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Compensation Recovery Unit nic3</span>
      Design concepts
      </h1>
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
  Design concepts for the discovery phase of CRU replacement
  </p>
  <p>These design concepts are not tested with users, they are a tool to enable us to visualise how we might begin to solve some of our users’ problems</p>
{% endset %}



{{ govukNotificationBanner({
  html: html
}) }}

<div class="card">
 <h2 class="govuk-heading-s">Add a case</h2>
 <div class="card-inner-panel">
   <ul class="govuk-list">
     <li><a href="/current/registration/cru-landing">Add a case</a></li>
     <li><a href="/current/registration/cru-landing-moj">Add a case - MOJ data</a></li>
   </ul>
 </div>
</div>
<!--
<div class="card">
  <h2 class="govuk-heading-s">Operations dashboard</h2>
  <div class="card-inner-panel">
    <ul class="govuk-list">
      <li><a href="/cru-ops-service/cru-ops-landing">Operations dashboard</a></li>
    </ul>
  </div>
 </div> -->

 <div class="card">
  <h2 class="govuk-heading-s">Case view</h2>
  <div class="card-inner-panel">
    <ul class="govuk-list">
      <li><a href="/current/case/case-details-and-tasks">View case</a></li>
    </ul>
  </div>
 </div>
    </div>
  </div>

{% endblock %}
