
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Compensation Recovery Unit</span>
       Prototypes
      </h1>
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    Here you will find our user research prototypes for CRU replacement
  </p>
  <p>These prototypes are a tool to test our hypothesis with users and validate that we are meeting their needs</p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

<div class="card">
 <h2 class="govuk-heading-s">Register a claim</h2>
 <div class="card-inner-panel">
   <ul class="govuk-list">
     <li><a href="registration/cru-landing">Register a claim</a></li>
     <li><a href="registration/cru-landing-moj">Register a claim - MOJ data</a></li>
   </ul>
 </div>
</div>
    </div>
  </div>

{% endblock %}
