

  
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      Insure Co Ltd
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Address
    </dt>
    <dd class="govuk-summary-list__value">
      Alexander house<br> Talbot Road<br> Manchester<br> M16 0SP
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> Address</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      cruliability@insureco.com
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> email address</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key no-border">
      Telephone
    </dt>
    <dd class="govuk-summary-list__value no-border">
      0161 123 4567
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">telephone</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Fax
    </dt>
    <dd class="govuk-summary-list__value">
      0161 123 5678
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">fax</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key no-border">
      Reference
    </dt>
    <dd class="govuk-summary-list__value no-border">
      4567890/02
    </dd>
    <dd class="govuk-summary-list__actions no-border">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">reference</span>
      </a>
    </dd>
  </div>
</dl>
